{% extends 'layout.html' %}
{% block content %}
<h1>Impressum</h1>
<h2>Angaben gemäß § 5 TMG</h2>
<h3>Name und Anschrift</h3>
<address>
Crazy Ants, Andreas Weggel<br>
Dahlienweg 2<br>
95463 Bindlach
</address>
<h3>Kontakt</h3>
<address>
<strong>E-Mail:</strong> admin [E-Mail Trennzeichen] crazyants [Punkt] de<br>
<strong>Telefon:</strong> 017637380481
</address>

<h2>Verantwortlicher gemäß § 55 Abs. 2 RStV</h2>
<address>
Andreas Weggel<br>
Dahlienweg 2<br>
95463 Bindlach
</address>
{% endblock %}