{% extends 'layout.html' %}
{% block content %}
<h1>Nutzungsbedingungen</h1>
<h2>Speicherung von Daten</h2>
<p>Beim Hinzufügen deines Discord-User zur Halterkarte stimmst Du zu, dass folgende Daten zu deinem Benutzer in der Datenbank abgespeichert werden:</p>
<ul>
    <li>
        Discord User ID
    </li>
    <li>
        Discord Username
    </li>
    <li>
        GPS-Koordinaten des Wohnortes
    </li>
    <li>
        Name des Wohnorts bzw. Adresse
    </li>
</ul>
<h2>Auffindbarkeit</h2>
<p>Du bist außerdem damit einverstanden, dass dein Benutzername auf einer Karte dargestellt wird. Des Weiteren bist Du damit einverstanden, dass dein Benutzername über eine Umkreisabfrage auffindbar ist.</p>
{% endblock %}