{% extends 'layout.html' %}
{% block content %}
<h1>Unterstützen</h1>
<p>Mittlerweile habe ich schon sehr viele Stunden Arbeit in die Entwicklung des "Antbot", von <a href="https://antkeeping.info">Antkeeping.info</a> und dieser Halterkarte gesteckt.</p>
<p>Auch erfordert die Wartung der Projekte (z. B. wegen Sicherheitslücken) ständige Aufmerksamkeit.</p>
<p>Die Seiten sollen auch weiterhin keinerlei Werbung enthalten.</p>
<p>Wem die bisherigen Dinge gefallen, die ich gemacht habe, der kann mir gerne eine kleine Spende zukommen lassen:</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="SA9DWU45U4WZA" />
    <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
</form>    
    
{% endblock %}