{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
<link rel="stylesheet" href="{% static "member_map/css/vendor/leaflet-markerclusterer/MarkerCluster.css" %}">
<link rel="stylesheet" href="{% static "member_map/css/vendor/leaflet-markerclusterer/MarkerCluster.Default.css" %}">
<link rel="stylesheet" href="{% static 'member_map/css/member_map.css' %}?v=1">
{% endblock %}
{% block content %}
<div id="map"></div>
{% endblock %}
{% block script %}
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
<script src="{% static 'member_map/js/vendor/leaflet-bing-layer.min.js' %}"></script>
<script src="{% static 'member_map/js/vendor/leaflet.markercluster.js' %}"></script>
<script src="{% static 'member_map/js/member_map.js' %}?v=4" bingApiKey="{{ BING_API_KEY }}"></script>
{% endblock %}